
  .container{
    text-align: center;
    color: white;
    margin: 50px 75px;
    }

    .projcards{
      height:auto;
      text-align: center;
      align-content: center;
      background-blend-mode: rgba(8, 8, 8, 0.067);
      opacity: 1;
      font-size: 25px;
      justify-content: center;
      margin: 10px 10px;
     
    }
    .description{
      white-space: pre-line;
    }
    .carsousels{
      display: block;
      align-items: center ;
      background-color: transparent;
      position : relative;
      text-align: center;
      justify-content: center;
      margin-top: 100px;
      padding : 50px 50px;
    }