
  .container{
    text-align: center;
    color: white;
    margin: 0 75px;
    overflow: hidden;
    }

    .projcards{
      height:auto;
      text-align: center;
      align-content: center;
      background-blend-mode: rgba(8, 8, 8, 0.067);
      opacity: 1;
      font-size: 25px;
      justify-content: center;
     
    }
    .carsousels{
      display: block;
      align-items: center ;
      background-color: transparent;
      position : relative;
      text-align: center;
      justify-content: center;
      margin:50px 0;
    }
    .title{
      font-size: 25px;
      font-style: oblique;
      font-weight: 100;
    }
    .org{
      font-size: 15px;
      font-style: normal;
      font-weight: 50;
      color: #90ee90;
      white-space: pre-line;
    }
    .textinfo{
      font-size: 17px;
      white-space: pre-line;
    }
    @media screen and (max-width: 768px){
      .container{
        margin:0 calc((100vw - 310px)/2);
      }
    }