  
 .container{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  margin: 75px 75px;
  }
      .cardsdeck{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      
      }
      .carsouselskills{
        display:block;
        align-items: center;
        background-color: transparent;
        text-align: center;
        justify-content: center;
      } 
        
        
  
   
      @media screen and (max-width: 768px){
        .container{
          margin: 0 0;
        }
        .carsouselskills{
        display:block;
        align-items: center;
        background-color: transparent;
        height:auto;
        }
        .cardsdeck{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      
    }