.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top:100px;
  margin-bottom: 100px;
  padding: 0.5rem calc((100vw - 1000px)/2);
}
.textinfo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about {
    display: flex;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0 10px;
    background-color: transparent;
    white-space: pre-line;
 
  }
  .abouthead{
    display: flex;
    color: #90EE90;
  }
  @media screen and  (max-width: 768px) {
    .container{
    display: flex;
    flex-flow: column wrap;
    }
  }