.about-style {
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: transparent;
    padding: 100px 100px;
    white-space: pre-line;
  }

  .project-style{
    text-align: center;
    color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    font-size:40px;
    
    }

    .experience-style {
      font-size: 40px;
      text-align: center;
      margin-top: 300px;
      margin-bottom: 300px;
      color: white;
      padding: 100px;
      background-color: transparent;
    
    }
    
    .skill-style {
      font-size: 40px;
      text-align: center;
      margin-top: 300px;
      color: white;
      margin-top: 300px;
      margin-bottom: 300px;
      background-color: transparent;
    }