
.about-style {
    display: flex;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top:100px;
    margin-bottom: 300px;
    background-color: transparent;
    padding: 100px 100px;
    white-space: pre-line;
  }



  .project-style{
    text-align: center;
    color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 200px;
    margin-right: 200px;
    font-size:40px;
    
    }

    .experience-style {
      font-size: 40px;
      text-align: center;
      margin-top: 300px;
      margin-bottom: 300px;
      color: white;
      padding: 100px;
      background-color: transparent;
    
    }
    
    .skill-style {
      font-size: 20px;
      color: white;
      margin-top: 300px;
      margin-bottom: 300px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
    }
    .cards-deck{
      display: flex;
      justify-content: space-evenly;
      padding-right: 40px;
    
    }
    .carsousel-skills{
      display: block;
      height: 300px;
      width:800px;
      position: relative;
      margin-left:400px;
      align-items: center ;
      background-color: transparent;
      position : relative;
      text-align: center;
      justify-content: center;
      margin-top: 100px;
      padding : 50px 50px;
    }