.container{
    display: flex;
    text-align: center;
    color: white;
    margin: 50px 50px;
    overflow: hidden;
    align-items: center;
   flex-direction: column;
   justify-content: center;
   

    }
.carouselcontainer{
    width:640px;
    align-items: center;
    justify-content: center;


}
    .carsousels{
      align-items: center ;
      background-color: transparent;
      text-align: center;
      justify-content: center;
    }
    
    .reactplayer {
    width: 200px;
    }

    @media screen and (max-width: 768px){
      .container{
        margin: 30px calc((100vw - 350px)/2);
      }
    }