.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deck{
  display: flex;
  flex-direction: row;

}
.card{
    display: flex;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: #5555;
    padding:15px 15px;
    margin: 5px 5px;
    border-radius: 3px;
    overflow: hidden;
  
  }
  .title{
    font-size: 25px;
    font-style: oblique;
    font-weight: 100;
  }
  .org{
    font-size: 22px;
    font-style: normal;
    font-weight: 50;
    color: #90ee90;
    white-space: pre-line;
  }
  .textinfo{
    font-size: 17px;
    white-space: pre-line;
  }
  @media screen and (max-width: 768px){
    .deck{
      flex-direction: column;
    }
  }