html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */

}
  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start-page {
  font-size: 40px;
  color: white;
  padding: 100px;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}

.proj-cards{
  height:auto;
  text-align: center;
  align-content: center;
  background-blend-mode: rgba(8, 8, 8, 0.067);
  opacity: 1;
  margin: 0 1rem;
  font-size: 20px;
  justify-content: center;
}
.carsousel-s{
  display: block;
  align-items: center ;
  background-color: transparent;
  position : relative;
text-align: center;
justify-content: center;
}
.carousel .slide .legend{
  background: transparent;
}
.carousel .slide {
  background: transparent;
}

/* .Nav-buttons {
  color: white;
  background-color: transparent;
  font-size: 20px;
  line-height: 50px;
  margin: 0 0.5rem 0 0;
  padding: 0.25rem; 
  text-decoration: none;
  position : sticky;
  display : flex;
} */
/* .Navbar{
  position: sticky;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0 1rem 1rem;
  line-height: 50px;
} */
