
/* 
.proj-cards{
  height:auto;
  text-align: center;
  align-content: center;
  background-blend-mode: rgba(8, 8, 8, 0.067);
  opacity: 1;
  font-size: 20px;
  justify-content: center;
}
.carsousel-s{
  display: block;
  align-items: center ;
  background-color: transparent;
  position : relative;
text-align: center;
justify-content: center;
margin-top: 100px;
padding : 50px 50px;
}
.carousel .slide .legend{
  background: transparent;
}
.carousel .slide {
  background: transparent;
} */

/* .Nav-buttons {
  color: white;
  background-color: transparent;
  font-size: 20px;
  line-height: 50px;
  margin: 0 0.5rem 0 0;
  padding: 0.25rem; 
  text-decoration: none;
  position : sticky;
  display : flex;
} */
/* .Navbar{
  position: sticky;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0 1rem 1rem;
  line-height: 50px;
} */
